body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

header {
  border-bottom: 1px solid whitesmoke;
  .navbar-brand {
    color: aliceblue;
    font-size: 25px;
  }

  .nav-item {
    padding-left: 15px;

    a {
      font-size: 20px;
      color: aliceblue;

      &:hover {
        color: orange;
      }
    }

    .active {
      color: orange;
    }
  }
}

.input-group-prepend {
  span {
    background: #212529;
    color: orange;
    font-weight: 600;
  }
}

.login-btn {
  background: orange;
  border: 1.5px solid #212529;
  transition: 0.2s;
  transition-timing-function: ease-in;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    box-shadow: inset 0 0 0 2px #212529;
  }
}

.message-item {
  border-radius: 10px;
  .message-container{
    color: whitesmoke;
  }

  .btn {
    border: 1px solid #212529;
    float: right;
    margin-right: 8px;
    background: orange;
    transition: 0.3s;
    &:hover{
      background: #c27e00;
    }
  }

  .card-body {
    opacity: 1;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.message-container {
  text-decoration: none;
}

.message-control-tools {
  color: orange;
  font-size: 25px;
  p {
    margin: 0;
  }
  svg{
    cursor: pointer;
    float: right;
    margin: 10px;
    transition: 0.3s;
    &:hover{
      color: #c27e00;
    }
  }
  input:disabled {
    display: none;
    transition: 0.5s;
  }
  input {
    transition: 0.5s;
    &:focus{
      outline: none;
      background: orange;

    }
  }
}